<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--====form section start====-->
<div class="user-detail">
    <h2>Upload new car details to DB</h2>
    <form action="/cars/uploadtodb" method="POST">
          <label>Car Model</label>
          <input type="text" placeholder="Enter Car Model" name="CarModel" required>
          <label>Car Make</label>
          <input type="text" placeholder="Enter Car Make" name="CarMake" required>
          <label>Car Type</label>
          <input type="text" placeholder="Enter Car Type" name="CarType" required>
          <label>Top Seller</label>
          <input type="text" placeholder="TopSeller?" name="TopSeller" required>
          <button type="submit">Submit</button>
        </div>
</div>
<!--====form section start====-->
</body>
</html>
